<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/encoding-numbers">Encoding Numbers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/encoding-categories">Encoding Categories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/encoding-categories">Encoding Categories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/components-showcase">Components Showcase</a>
  </li>
</ul>
